# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Production build outputs
dist
dist-ssr
*.local

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Vite / bundler cache
.vite
.eslintcache
*.tsbuildinfo

# Testing & coverage
coverage

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
